
$pinkHighlight: #fc7777;
$yellowHighlight: #fdca30;

.bodyContainer {
margin-top: 80px;
}

.navbar-inverse{
background-color: $yellowHighlight;
border-bottom: solid 1px $pinkHighlight;

.container{
padding-left:5px;
padding-right:5px;
}

.navbar-collapse{
padding-bottom:10px;
}

img{padding-right:10px;}

}

.navbar-inverse .navbar-nav > li > a {
color:#fff;
font-size:16px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: $pinkHighlight;
}

